h1 {
  text-align: center;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: gray;
}

img {
  width: 800px;
  max-width: 100%;
}

.users {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: gray;
  font-weight: bold;
  display: flex;
  justify-content: center;
  .user {
    margin: 0 10px;
  }
}
